<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'customers:index' %}">Home</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="{% url 'customers:weekly_pickup' %}">Weekly Pickup</a>
            <a class="nav-link active" href="{% url 'customers:bonus_pickup' %}">Bonus Pickup</a>
            <a class="nav-link active" href="{% url 'customers:balance' %}">Balance</a>
          </div>
        </div>
        <div class="d-flex">
              <a class="navbar-brand form-control" href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    </nav>
    {% elif group.name == "Employees" %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'employees:index' %}">Home</a>
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <a class="nav-link active" href="#">TBD</a>
            <a class="nav-link active" href="#">TBD</a>
          </div>
        </div>
        <div class="d-flex">
              <a class="navbar-brand form-control" href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    </nav>
    {% endif %}
  {% endfor %}

{% endif %}
  <main>
    <h1 style="text-align:center">{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}