{% extends 'base.html' %}

{% block title %} Home Portal {% endblock %}

{% block header %} Welcome to <br>365 Waste Management, Inc. {% endblock %}

{% block content %}
<body class="bg">
{% if user.is_authenticated %}
  Hello {{ user.username }}. You don't have a group assigned. Please contact administrator or attempt to register again.
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<div style="text-align:center">
  <p>You are not logged in. Use the button below to log in or sign up!</p>
<!--  <a href="{% url 'login' %}">Log In</a><br><br>-->
<!--  <a href="{% url 'accounts:register' %}">Sign Up</a>-->
</div>
<div class="btn-group center border">
  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Access Site
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
    <li><a class="dropdown-item" href="{% url 'accounts:register' %}">Sign up</a></li>
  </ul>
</div>
{% endif %}
</body>
{% endblock %}

{# This is the home page that allows a logged out user to register or log in #}