{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
<h2>Hello Employee {{ user.username }}!</h2>
    <h3>Today's Pickups</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Zip Code</th>
        </tr>
      </thead>
      <tbody>
      {% for customer in todays_customers %}
      <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.zipcode}}</td>
      </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}