{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
<h2>Hello {{ user.username }}!</h2>
<h3>View Schedule</h3>

<form method="POST" action="">
        {% csrf_token %}
        <select id="selected_day" name="selected_day">
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select>
    <input type="submit" value="Change Day">
</form>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
      {% for customer in todays_customers %}
      <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.zipcode}}</td>
        <td>{{customer.phone_number}}</td>
      </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}
