{% extends 'base.html' %}

{% block title %} Customer Creation {% endblock %}

{% block header %} Enter your details! {% endblock %}

{% block content %}

<form style="text-align:center" action="{% url 'customers:create' %}" method="POST">
    {% csrf_token %}
        <div>
            <label class="form-label" for="name">Name</label>
            <input class="" type="text" id="name" name="name">
        </div>
        <div>
            <label class="form-label" for="address">Address</label>
            <input class="" type="text" id="address" name="address">
        </div>
        <div>
            <label class="form-label" for="city">City</label>
            <input class="" type="text" id="city" name="city">
        </div>
        <div>
            <label class="form-label" for="zipcode">Zipcode</label>
            <input class="" type="text" id="zipcode" name="zipcode">
        </div>
        <div>
            <label class="form-label" for="phone_number">Phone</label>
            <input class="" type="text" id="phone_number" name="phone_number">
        </div>
    <input type="submit" value="Become Customer!">
</form>

{% endblock %}