{% extends 'base.html' %}

{% block title %} Customer Creation {% endblock %}

{% block header %} Enter your details! {% endblock %}

{% block content %}

<form action="{% url 'customers:create' %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="name" name="name">Name</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="address" name="address">Name</label>
        <input type="text" id="address" name="address">
    </div>
    <div>
        <label for="city" name="city">Name</label>
        <input type="text" id="city" name="city">
    </div>
    <div>
        <label for="zipcode" name="zipcode">Name</label>
        <input type="text" id="zipcode" name="zipcode">
    </div>
    <div>
        <label for="phone_number" name="phone_number">Name</label>
        <input type="text" id="phone_number" name="phone_number">
    </div><br>
    <input type="submit" value="Become Customer!">
    <a href="{% url '' %}">Go back (maybe)</a>
</form>

{% endblock %}