{% extends 'base.html' %}

{% block title %} Weekly Pick-up {% endblock %}

{% block header %} Your weekly pick-up! {% endblock %}

{% block content %}
<div style="text-align:center">
<label>Choose Your Pick Up Day:</label>
    <form method="POST" action="{% url 'customers:weekly_pickup' %}">
        {% csrf_token %}
        <select id="weekly_pickup" name="weekly_pickup">
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select>
    <input type="submit" value="Change Day">
    </form>

    <br><br>

    <form method="POST" action="{% url 'customers:suspend_dates' %}">
        {% csrf_token %}
        <label for="suspend_start">Suspension Start Date:</label><br>
        <input type="date" name="suspend_start" id="suspend_start">
        <br><br>
        <label for="suspend_end">Suspension End Date:</label>
        <br>
        <input type="date" name="suspend_end" id="suspend_end">
        <br>
        <input type="submit" value="Suspend Pickups">
    </form>
</div>
{% endblock %}
